<form class="cd-form">
  <p class="fieldset sideby">
    <label class="image-replace cd-username" for="signup-username">Nombre</label>
    {{input class="full-width has-padding has-border" type="text" placeholder="Nombres"}}
    <span class="cd-error-message">¡Error ingrese sus nombres!</span>
  </p>
   <p class="fieldset sideby">
    <label class="image-replace cd-username" for="signup-username">Apellidos</label>
    {{input class="full-width has-padding has-border" type="text" placeholder="Apellidos"}}
    <span class="cd-error-message">¡Error ingrese sus Apellidos!</span>
  </p>
  <p class="fieldset">
    <label class="image-replace cd-email" for="signup-email">E-mail</label>
    {{input class="full-width has-padding has-border" id="signup-email" 
    type="email" placeholder="E-mail"}}
    <span class="cd-error-message">¡Error ingrese un mail valido!</span>
  </p>
  <p class="fieldset">
    <label class="image-replace cd-password" for="signup-password">Contraseña</label>
    {{input class="full-width has-padding has-border" type="password" placeholder="Contraseña"}}
    <a href="javascript:;" class="hide-password">Show</a>
    <span class="cd-error-message">¡Error tu contraseña tiene que ser al menos 8 caracteres!</span>
  </p>
  <p class="fieldset">
    <label class="image-replace cd-password" for="signup-password">Confirmar contraseña</label>
    {{input class="full-width has-padding has-border" type="password" placeholder="Confirmar contraseña"}}
    <a href="javascript:;" class="hide-password">Show</a>
    <span class="cd-error-message">¡Error no concuerda con tu contraseña!</span>
  </p>
  <p class="fieldset">
    {{input type="checkbox" id="accept-terms" checked=false}}
    <label for="accept-terms">Acepto los <a href="javascript:;">Terminos y condiciones</a></label>
  </p>
  <p class="fieldset">
    {{input class="full-width has-padding" type="submit" value="Crear cuenta"}}
  </p>
</form>